# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ilk
*.pdb

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/.vs
/.vs/*
/Debug
/Debug/*
/Release
/Release/*
/anConcurrent_tp1/Debug
/anConcurrent_tp1/Debug/*
/anConcurrent_tp1/Release
/anConcurrent_tp1/Release/*
/x64
/x64/*
